.backButton {

}

.message {
  background-color: white;
  background-image: linear-gradient(45deg, rgba(0, 1, 127, .7) 10%, rgba(0, 30, 50, .5));
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.pushRight {
  float: right;
}

.pushLeft {
  float: left;
}
